body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}
#opp_choice
{
    width: 180px;
    height: 180px;
    background-color: grey;    
}
#your_choice
{
    width: 180px;
    height: 180px;
    background-color:grey;
    margin-top: 10px;
}
#choices
{
    width: 250px;
    height: 80px;
    margin-top: 10px;
    background-color: rgb(9, 15, 69);
    margin: 0 auto;

}
#choices img
{
    width: 80px;
    height: 80px;
}
#choices img:hover{
    cursor: pointer;
    background-color: tan;
}